@import url(theme.css);

/* Reset */
html, body { margin: 0px; }
em { font-style: normal; }

/* Custom */
p.title { text-transform: uppercase; margin-bottom: -12pt; }
h1 { margin-left: 8px; }
body { margin-bottom: 12px; }