body {background-color: #000000; }
p { font-size: 14pt; color: #FFFFFF; font-family: "Segoe WP"; margin: 12px 12px 12px 12px; }
h1 { font-family: "Segoe WP SemiLight"; font-size: 54pt; color: #FFFFFF; margin: 12px 12px 12px 12px; }
h2 { font-family: "Segoe WP SemiLight"; font-size: 24pt; color: #FFFFFF; margin: 12px 12px 12px 12px; }
h3 { font-family: "Segoe WP SemiLight"; font-size: 17pt; color: #FFFFFF; margin: 12px 12px 12px 12px; }
