<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="EmuSteps.Application.WindowsPhone.ApplicationId" value="{61f8f353-a241-47e4-8de3-2a434cd52e10}" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationIconPath" value="..\..\..\RichardSzalay.PocketCiTray\ApplicationIcon.png" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationPackagePath" value="..\..\..\RichardSzalay.PocketCiTray\Bin\Debug\RichardSzalay.PocketCiTray.xap" />
    <add key="EmuSteps.Application.WindowsPhone.ApplicationName" value="RichardSzalay.PocketCiTray" />
    <add key="EmuSteps.AutomationController" value="WindowsPhoneTestFramework.Server.AutomationController.WindowsPhone.Emulator.dll" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="WindowsPhoneTestFramework.Test.EmuSteps" />
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindgins}" /> -->
    </stepAssemblies>
  </specFlow>
</configuration>